.admin-bar{
  background-color: #171717;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.admin-bar button {
 background: none;
 color: white;
 color: #ccc;
 font-family: "Open Sans", Arial, sans-serif;
 border: none;
}

.admin-bar ul {
 float: right;
 margin: 10px 10px 0 0;
}

.admin-bar li {
 display: inline-block;
 margin: 11px 0 0 15px;
 font-size: 13px;
}

.admin-bar li a {
 color: #ccc;
}


@media (max-width:767px) {
 .admin-bar {
  height: 120px;
 }
}