.section-title {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  background-size: 32px;
  background-position: left center;
}

.section-title span {
  background: url('../../Assets/Images/menu-items/dashboard-menu-items-black-retina.png') no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
  background-size: 32px;
}

.section-title span.views-title {
  background-position: 0 -291px;
}

.section-title span.interactions-title {
  background-position: 0 -97px;
}

.section-title span.orders-title {
  background: url('../../Assets/Images/menu-items/orders-logo.png') no-repeat;
  background-size: 38px;
}

.section-title span.revenue-title {
  background: url('../../Assets/Images/menu-items/revenue-icon.png') no-repeat;
  background-size: 32px;
}

.section-title span.top-products-title {
  background-position: 0 -196px;
}

.section-title span.top-posts-title {
  background-position: 0 -163px;
}

.section-title span.top-creators-title {
  background-position: 0 0;
}

.section-title span.top-hashtags-title {
  background-position: 0 -33px;
  height: 31px;
}

.section-title span.order-details-title {
  background: url('../../Assets/Images/menu-items/orders-logo.png') no-repeat;
  background-size: 38px;
}

.section-description {
  font-size: 18px;
  margin-bottom: 32px;
  color: #666666;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
  flex-grow: 1;
}

.row.display-flex .col-with-bottom-pad {
  padding-bottom: 25px;
}

.dashboard-data-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 14px;
}

.social-media-circle {
  width: 12px;
  height: 12px;
  background: #eeeeee;
  border-radius: 50%;
}

.social-media-circle.active {
  background: #11aa44;
}

.dashboard-info-sections {
  background-color: #ffffff;
  padding: 25px;
  height: 100%;
  position: relative;
  padding-bottom: 70px;
}

.dashboard-link {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  color: #000000 !important;
  cursor: pointer;
  text-decoration: underline;
}

.white-content-block .post {
  height: 100%;
}

.white-content-block .post a {
  text-decoration: none;
}

.white-content-block .img-thumbnail,
.white-content-block .rounded-circle {
  padding: 0;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.white-content-block .post-image {
  position: relative;
  aspect-ratio: 1 / 1;
}

.white-content-block .post-image .absolute-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0;
}

.white-content-block .post-image .absolute-text-container .big-title {
  margin-top: calc(50% - 54px);
  margin-bottom: 0px;
  color: white;
  font-size: 4vw;
  filter: drop-shadow(0 0 0.75rem black);
  font-weight: 600;
}

.white-content-block .post-image .absolute-text-container .small-title {
  margin: 0px;
  color: white;
  margin-top: -9px;
  font-size: 1.7vw;
  filter: drop-shadow(0 0 0.75rem black);
  font-weight: 600;
}

.white-content-block .top-products {
  padding-top: 8px;
  color: #000000;
  font-size: 14px;
}

.white-content-block .creator-username {
  color: #000000;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding: 5px;
}

.white-content-block .hashtag {
  float: left;
  background-color: #78777c;
  margin-right: 13px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.white-content-block .hashtag a {
  color: white;
  text-decoration: none;
}

.white-content-block .table-striped>tbody>tr>td button.order-id-button {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -6px;
  color: black;
  text-decoration: none;
}

.product-image {
  width: 30px;
  height: 30px;
  float: left;
  border-width: 0;
  outline: none;
  margin-right: 10px;
}

.d-inline-block {
  display: inline-block;
}

.orderDetailsList li {
  list-style: none;
  margin: 10px 0;
}